.large-hero{
    position: relative;
    border-bottom: 10px solid $mainBlue;

    &__image{
        display: block;
    }


    &__text-content{
        padding-top: 60px;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        transform: translateY(-50%);
    }

    &__title{
        font-weight: 300;
        color: $mainBlue;
        font-size: 2.4rem;
        margin: 0;

        @mixin atSmall {
            font-size: 4.8rem;
        }


    }
    &__subtitle{
        font-weight: 300;
        color: $mainBlue;
        font-size: 1.8rem;
        margin: 0;

        @mixin atSmall {
            font-size: 2.9rem;
        }
    }

    &__description{
        font-size: 1.1rem;
        color: #fff;
        font-weight: 100;
        max-width: 30rem;
        margin-left: auto;
        margin-right: auto;
        text-shadow: 2px 2px 0 rgba( 0, 0, 0, .1);

        @mixin atSmall{
            font-size: 1.875rem;
        }


    }

}