.page-section{
    padding: 2.2rem 0;

    @mixin atSmall{
        padding: 4.5rem 0;
    }


    &--testimonials{
        background: url('/assets/images/testimonials-bg.jpg')top center no-repeat;
        background-size: cover;
    }

    &__blue{
        background-color: $mainBlue;
        color: #fff;
    }
}