.page-section{
    padding: 2.2rem 0;

    @mixin atSmall{
        padding: 4.5rem 0;
    }


    &--testimonials{


        @mixin atLarge{
            background: url('/assets/images/testimonials-bg.jpg') top center no-repeat;
            background-size: cover;
        }
    }

    &__blue{
        background-color: $mainBlue;
        color: #fff;
    }

    &--no-padding-bottom{
        padding-bottom: 0;


        @mixin atSmall{
            padding-bottom: 4.5rem;
        }
    }
}