.row{
    @mixin clearfix;

    &-medium__4{



        @mixin atSmall{
            float: left;
            width: 33.33%  
        }
        &--larger{
            @mixin atSmall {
                width: 37%;
            }
        }

        &-t-margin-until-medium{
            margin-bottom: 1rem;
            @mixin atSmall{
                margin-bottom: 0;
            }
        }

    }

    &__medium--6{


        
        @mixin atSmall{

        float: left;
        width: 50%;
    }

    }



    &-medium__8{
  
        @mixin atSmall{
            float: right;
            width: 66.66%;  
        }  
        &--smaller{

        @mixin atSmall {
            width: 63%;
        }

    } 
    }

    &-medium-8--larger{
        @mixin atSmall {
            width: 63%;
        }
    }

    &--gutter > div:not(:last-child){

        @mixin atSmall{
            padding-right: 65px;
        }
    }
    &--gutter-large > div:not(:last-child){

        @mixin atSmall{
            padding-right: 100px;
        }
    }

}