.wrapper{
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;

    &--medium{
        max-width: 976px;

        &-b-margin{
            margin-bottom: 1rem;

            @mixin atSmall{
                margin-bottom: 2.875rem;
            }
        }
    
    }

    .wrapper{
        padding: 0;
    }
}